
<!DOCTYPE html>
<html lang="en">
<head>
  <title>LFS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
{% include "lastfanstanding/navbar.html" %}
<br>
<div class="container-fluid" style="margin-top:60px">

<div class="d-flex justify-content-center">
  <h1>Last Fan Standing Rules for 2023</h1>
</div>

<ol class="list-group">
  <li class="list-group-item">
    <h3>ENTRY FEE</h3> $10 per entry to play. One-time entry fee. In game and post-game commentary is free. There are no ‘in app’ purchases required.
  </li>
  <li class="list-group-item">
    <h3>ENTRY NAME</h3><p>Enter as many times as you would like, but each entry must be under a different “team” name. It is not enough to simply enter a number after your name. For example, if you have 3 entries, you cannot be Kim1, Kim2, and Kim3. Wayyyyy too many Kims! This rule actually has nothing to do with the logistics of the game and everything to do with me. I like to see creative ideas that I can someday steal (borrow), and nothing personal, but your first name is just not that exciting. There are a million options to choose, so get creative! Here are a few examples from previous years: It’s Always Money in Philadelphia; Hit me with your Prescott; Mr. Rodgers Neighborhood; and Stafford Infection.  All pretty original, right? Get out of your stuffy little predictable box and have some fun with it. Ooh, did I hit a nerve? If you are stuffy and predictable, it’s okay! Just not here! We walk on the wild side at LFS!
    <br><br>
    Oh, and because I know there are a lot of Eagles fans here (as there should be), we do sometimes get duplicate names. If that happens, first one registered gets it, and I’ll ask the other person to pick something else. Sorry – no credit for longevity here. Maybe one day, but that is not today. If you have a name you really want, get it early!
    <br></p>
    <h5>BONUS PRIZE</h5> <p>The most original and fun team name each year (as determined by me and my tech squad) will get a free entry in next year’s pool. If you do the math and spend 4 minutes thinking up an original team name and that name is picked, it’s like making $150/hour. For only one hour, but still. Congratulations to the 2022 winner: Tua-nd a Half Men. Jump in and register for free this year!</p>
    <h5>Administrative note</h5><p>Since this LFS community continues to grow and includes many who I do not know personally, let me add an important caveat: Original team names are encouraged. I fully support freedom of expression. You be you. HOWEVER – I reserve the right to reject a team name if I deem it to be discriminatory or offensive to a group or class of persons. This gig is for fun and should remain light-hearted. Although anti-Dallas rhetoric will be assessed with a lower level of scrutiny. My game, my rules.</p>
  </li>
  <li class="list-group-item">
    <h3>HOW TO PLAY</h3><p>Each week during the NFL regular season, you must pick one winner (per entry) - no points - straight up win. You pick and submit the one NFL team that you are convinced will win the game. If you have multiple entries, you can pick a different team for each entry. Or bet the same team for every entry and spend your Sunday afternoon pacing. Your call. If your chosen team wins, you move on to the next round. If the team loses (or ties), we keep your money and you mosey on over to the cheap seats (perhaps temporarily). During Weeks 1 – 5, you will have an option to buy back in, but more on that later. Let me be clear – it MUST be a win. A tie is not a win. Ties seem to be more prevalent in recent years which I find so odd. I thought that fashion trend would eventually go away.
    <br><br>
    You may not pick the same team twice during the season. Once you pick a team, it will be removed from your option list, just so you will avoid temptation. Artificial Intelligence has nothing on us. <br></p>
    <h4>Weekly submission deadlines</h4><p>Please read this section carefully. All entries are submitted via the LFS website. You may want to bookmark that puppy, so you know where to go each week. The website will be open by Tuesday evening (sometimes sooner) of each week to submit your picks for the following week. If there is a Thursday or Saturday game, picks must be in an hour before kickoff. For Sunday and Monday games, picks must be submitted by 12:30pm EST on Sunday. Once the pool closes at 12:30EST, no more picks can be submitted. If you are one of those weekend warriors who does a million things right up until game time, I suggest you get your picks in during the week, so you don’t get knocked to the cheap seats because you missed the submission deadline.
    <br><br>
    Because some of you are like goldfish (Ted Lasso), here is a suggestion – set an LFS alarm on your phone for Wednesday morning at 9am and submit your pick then. You can always change it anytime up until the deadline, so even if you are not 100% sure of your submission – some pick is better than no pick. No pick is your fast track to the Cheap Seats.
    <br><br>
    Let me reiterate for those of you who have already stopped paying attention because you are thinking about your original team name: the website will be closed and locked at 12:30pm (EST) every Sunday and no additional picks will be accepted for that week. There are no exceptions. Really. If you do not submit your pick by 12:30, please do not email and ask if you can still pick one of the 4pm or Monday games. The answer will be a firm negative. A “No Pick” will be considered a loss and you will get first dibs on a comfy spot in the cheap seats for that week. Note: A “No Pick” is eligible for Buy Backs through week 5. Because I care. And I want your money.</p>
  </li>
  <li class="list-group-item">
    <h3>BUY BACKS (Weeks 1 – 5)</h3> <p>It is hard reality to face, but some of you are simply terrible at this game. No matter how much I have hope, every season there are a few of you making your way to the cheap seats after Week 1. But do not fret. We have a way to keep you engaged for at least 2 weeks. If you get knocked out at any time during weeks 1-5, you may buy back into the pool for the low, low price of $15, and no shipping charge.
    <br>
    Here are the buyback rules: </p>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item">Each entry is permitted one buy back.</li> 
      <li class="list-group-item">It must be the week right after you were knocked out.</li>
      <li class="list-group-item">Buying back in means you continue with your same team so you still cannot use previous picks.</li>
      <li class="list-group-item">Payment is due at the time of re-entry. PayPal & Venmo never sleep.</li>
      <li class="list-group-item">If you lose with your buy-back option, you are totally out, and your season is over.</li>
      <li class="list-group-item">After Week 5, everyone who loses is out. Once you are out, you move to the cheap seats. Don’t worry. It is fun there. It’s hot and sticky and you will likely stick to the floor because we lost our mop last year and that one box of Goobers spilled and melted, but otherwise, it’s quite lovely and you may make a new friend. I know – I should be in marketing.</li>
    </ol>
</li>
<li class="list-group-item">
  <h3>REGISTRATION</h3> <p>If you would like to participate in this very fun game, click here to sign up: <a href="{% url 'index' %}">Register</a><br><br>
  Registration is super easy because our extraordinary webmasters –Ali & Todd are smarter than Chat GPT and have created a seamless experience. For new users, the website will walk you through the registration process. If you are returning from last year, your email is already saved in the system so log on in and create your fancy team names. If you forget your password, want to change a team name, or want to add/subtract teams, the on-screen instructions will also walk you through the process. So just by registering or re-registering, you are getting steps in on your FitBit. I should add Personal Trainer to my resume. You can enter as many teams as you want, so dig under that mattress and find some extra pennies.</p></li>
  <li class="list-group-item">
    <h3>PAYMENT</h3> <p>All payments will be handled electronically. Use PayPal: paypal.me/KFT21 or Venmo: https://venmo.com/kft21. In both cases, be sure to select “Send money to family or friends” and not “Pay for goods or service” so I am not charged a fee. I hate fees. And if you make me pay one, I will not think fondly of your team name, and your chances of winning a free entry plummet.</p>
  </li>
  <li class="list-group-item">
    <h3>WINNERS</h3>
    <p>Cash payouts will be awarded for 1st, 2nd, and 3rd place. So, it really is Last FANS Standing. Actual dollar amounts will be determined after Week 5, but the percentage breakout will be:  1st place: 65%; 2nd place: 25%; 3rd place: 10%. Due to the time, brain space, and ongoing energy required to run this pool, Team Sukolsky and I each get 1 free entry for every 35 entries.</p>
  </li>
 <li class="list-group-item"> <p>Finally, feel free to forward this email to anyone you think would like to participate. The more, the merrier...and the bigger the prize. I tried to include everyone from our previous seasons and have added a few newbies who have expressed interest. If you talk to your friend and he/she/they did not get this, please forward with my apologies. If I emailed you in error or you no longer want to be my email bestie, drop me a note and I will remove you from the list. Also - if you got this twice or you have no interest in being part of the cool kids, no worries. The final email list will only include this season's entrants.</p>

<h2>MOST IMPORTANT PART</h2><p>When does the magic begin?? Opening day is Thursday, September 7TH  with the Lions visiting the Chiefs. That game is in play for anyone crazy enough to pick it, but the rest of the league, and the road to the Eagles next World Championship, takes flight on Sunday, September 10th. As long as you are registered and paid by 12:30 pm EST on the 10th, you are in. <br></p>

<h4>NEW FOR 2023</h4><p>In order to incentivize early registration and to hopefully cut down on you last minute Lucys and Larrys, the first 25 people who register will be entered into a drawing for a free 2024 entry. Note that it is ‘people’ and not ‘entries,’ so if you are an early registerer (say that 5 times fast), and you enter 8 teams (which would be awesome), that gets you just 1 entry into the EARLY BIRD DRAWING. It's like an early bird special, but without the mashed potatoes and creamed corn.
<br><br>
Okay, enough about cholesterol raising meals, let’s BELIEVE! Click here to make the magic happen: <a href="{% url 'index' %}">LFS - 2025</a>
<br>
<br>
Football is Life! Fly Eagles Fly!
</p>
</li>
</ol>
</div>

<script>
$(document).ready(function() {
  $('li.active').removeClass('active');
$activeID = 'rules';
 $('a[id="'+$activeID+'"]').closest('li').addClass('active'); 

});
</script>
</body>
</html>
